rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isAdmin() {
      return request.auth != null
        && request.auth.token.email == 'heyweiweiweimy@gmail.com';
    }

    match /{allPaths=**} {
      allow read, write: if isAdmin();
    }
  }
}
